<div>
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= title %></h4>
          </div>
          <div class="modal-body">



              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Overview
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <%= content %>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        SQL Queries
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p>Here are the SQL queries used to generate this view:</p>
                            <div class="form-group">
                              <textarea class="form-control" rows="5" id="sql"><%= sql %></textarea>
                            </div>
                        <p class="slack-link">
                          <a href="<%= repoUrl %>" target="_blank">LEARN MORE in the data-democracy repo</a>
                        </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Feedback
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Give us feedback and start a conversation. What questions are you trying to answer? What data do you want to see? What features do you want to see in this tool?
                        <p class="slack-link">
                          <a href="https://simpleenergy.slack.com/messages/insight-mania/" target="_blank">TELL US IN #insight-mania!</a>
                        </p>
                        <p align="center"><%= extra %></p>
                    </div>
                  </div>
                </div>
              </div>





          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>

</div>
