[Unit]
Description=Fermtemp cool
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/home/ken/.virtualenvs/brewtemp/bin/python /opt/fermtemp-cool/fermTempService.py pi-cool
Restart=always
 
[Install]
WantedBy=multi-user.target